{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.username) }}

    {{ form_row(form.submit, { 'label': 'Modifier mon mot de passe' }) }}

    {{ form_end(form) }}

{% endblock %}