{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>



    {#
   {{ form_start(form) }}
   <button type="submit">login</button>
   {{ form_end(form) }}
   #}

    <div>
        <a href="{{ path('home_page') }}">S'inscrire.</a>
        <a href="{{ path('home_page') }}">Mot de passe oublié.</a>
    </div>

{% endblock %}