{% extends 'base.html.twig' %}

{% block title %}SInscription - Snowtricks{% endblock %}

{% block body %}
    <section class="height-page form-style-security registration-section flex-column">
        <div>
            {% for message in app.flashes('message-error') %}
                <div class="message-error">
                    <div class="flash-notice alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container border form-group d-flex align-items-center flex-column justify-content-around">
            <h1>Inscription</h1>

            {{ form_start(form) }}
                <div class="form-group d-flex flex-column align-items-center">
                    {{ form_label(form.username) }}
                    <div class="form-errors">
                        {{ form_errors(form.username) }}
                    </div>
                    {{ form_widget(form.username) }}
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    {{ form_label(form.email) }}
                    <div class="form-errors">
                        {{ form_errors(form.email) }}
                    </div>
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    {{ form_label(form.plainPassword) }}
                    <div class="form-errors">
                        {{ form_errors(form.plainPassword) }}
                    </div>
                    {{ form_widget(form.plainPassword) }}
                </div>

                <div class="form-group d-flex flex-column align-items-center">
                    <div class="div-inputFile">
                    {{ form_label(form.avatar) }}
                    </div>
                    <div class="form-errors">
                        {{ form_errors(form.avatar) }}
                    </div>
                    {{ form_widget(form.avatar) }}
                </div>

            <div class="form-group d-flex flex-column align-items-center">
                <p>* Champs obligatoires.</p>
            <button class="btn btn-primary btn-primary-blue-reverse" type="submit">Créer un compte</button>
            </div>

            {{ form_end(form) }}
            <div class="div-a d-flex flex-column align-items-center justify-content-between">
                <a class="font-white blue-hover" href="{{ path('login') }}">Déjà un compte ?</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/inputFiles.js') }}"></script>
{% endblock %}
