{% block body %}

    <h3>Confirmation de votre demande de modification de mot de passe.</h3>

    <p>Bonjour {{ user.username }}, pour modifier votre mot de passe sur <a href="http://snowtricks.com">Snowtricks.com</a>,
        Veuillez cliquer sur le liens suivant : <a href="http://snowtricks.com/{{ user.id }}/{{ user.passwordKey }}">Snowtricks.com/{{ user.id }}/{{ user.passwordKey }}</a>
    </p>

{% endblock %}