<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenue sur Snowtricks.com{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body>
    {% block header %}
    <header>
        <nav class="nav-md navbar fixed-top vw_100">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="{{ asset('/img/logo.png') }}" alt="logo snowtricks">
                    <a class="navbar-brand" href="{{ path('home_page') }}"><h2 class="m-0 font-white">Snowtricks</h2></a>
                </div>
                <ul class="nav navbar-nav d-flex flex-row justify-content-around">
                    <li><a href={{ path('home_page') }}>Home</a></li>
                    <span>|</span>
                    <li><a href="{{ path('trick_last') }}">Figures</a></li>
                    <span>|</span>
                    {% if app.user %}
                        <li><a href={{ path('logout') }}>Deconnexion</a></li>
                    {% else %}
                        <li><a href={{ path('login') }}>Connexion</a></li>
                        <span>|</span>
                        <li><a href={{ path('registration') }}>Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="nav-md header-size"></div>
        <nav class="nav-xs nav font-blue fixed-bottom vw_100">
            <ul class="nav justify-content-around col-xs-12 col-sm-12">
                <li class="nav-item"><a class="nav-link" href={{ path('home_page') }}><i class="fas fa-home font-blue"></i></a></li>
                <li class="nav-item"><a id="go_to_tricks" class="nav-link" href="{{ path('trick_last') }}"><i class="fas fa-bookmark font-blue"></i></a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href={{ path('logout') }}><i class="fas fa-sign-out-alt font-blue"></i></a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href={{ path('login') }}><i class="fas fa-sign-in-alt font-blue"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock %}
    <body>
    {% include 'security/errors_success.html.twig' %}
    {% block body %}{% endblock %}
    </body>
    {% block footer %}
        <footer class="container-fluid align-items-center">
            <p class="m-0">Copyright @ 2018</p>
        </footer>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>