{% extends 'base.html.twig' %}

{% block title %}SnowTricks - details{% endblock %}

{% block body %}
    <h1>Trick</h1>
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tricks.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ tricks.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ tricks.description }}</td>
        </tr>
        <tr>
            <th>Groupe</th>
            <td>{{ tricks.group.name }}</td>
        </tr>
        <tr>
            <th>Boutons</th>
            <td><a href="{{ path('trick_edit', { 'id': tricks.id }) }}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        {% for comment in comments  %}
        <div class="comment{{ comment.id }}">
            {{ comment.author.username }}
            {{ comment.comment }}
            {{ comment.dateTime|date("F jS \\a\\t g:ia", "Europe/Paris") }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
