{% extends 'base.html.twig' %}

{% block title %}SnowTricks - details{% endblock %}

{% block body %}
    <h1>Trick</h1>
    {% if illustrations is empty %}
        <img src="{{ illustrations_folder }}/default.jpg" alt="image par default">
    {% else %}
    {% for img in illustrations %}
        <div>
            <img src="{{ illustrations_folder }}/{{ img.name}}" alt="image {{ tricks.name }}">
            <a href="{{ path('illustration_delete', { 'id': img.id }) }}">Delete</a>
        </div>
    {% endfor %}
    {% endif %}
    {% if videos is empty %}
        <img src="{{ illustrations_folder }}/noVideo.jpg" alt="aucune video">
    {% else %}
        {% for video in videos %}
            <div>
                {{ video.name | raw }}
            </div>
        {% endfor %}
    {% endif %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tricks.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ tricks.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ tricks.description }}</td>
        </tr>
        <tr>
            <th>Groupe</th>
            <td>{{ tricks.group.name }}</td>
        </tr>
        <tr>
            <th>Boutons</th>
            <td><a href="{{ path('trick_edit', { 'id': tricks.id }) }}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <h4>Comments creation</h4>
        {% if author %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
        {% endif %}
        <ul>
            <li>
                <a href="{{ path('home_page') }}">Back to the list</a>
            </li>
        </ul>
    </div>
    <div>
        {% for comment in comments  %}
            <div class="comment{{ comment.id }}">
                <img src="{{ avatars_folder }}/{{ comment.author.avatar}}" alt="avatar {{ comment.author.username }}">
                {{ comment.author.username }}
                {{ comment.comment }}
                {{ comment.dateTime|date("Y-m-d H:i", "Europe/Paris") }}

                {% if author == comment.author %}
                    <a href="{{ path('comment_delete', { 'id': comment.id }) }}"> Delete </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
