{% block body_mobile %}
    <div class="media-illustration-xs justify-content-center align-items-center">
        <a class="btn btn-primary-blue font-white" data-toggle="modal" data-target="#myModalIllustration" href="#">
            Voir les autres images et videos de la figure
        </a>
        {% block modal %}
            <div class="modal fade" id="myModalIllustration" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content font-darkBlue">
                        <div class="modal-header flex-row-reverse">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Images et videos de {{ tricks.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="illustration d-flex flex-column align-items-center">
                                    {% for img in illustrations %}
                                        <div class="row-media">
                                            <img src="{{ illustrations_folder }}/{{ img.name}}" alt="image {{ tricks.name }}">
                                            {% if app.user %}
                                                <div class="div_button d-flex">
                                                    <a class="button btn btn-link font-white back-blue"
                                                       href="{{ path('illustration_edit', { 'id': img.id }) }}"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="button btn btn-link font-white back-blue" data-toggle="modal" data-target="#ModalImg{{ img.id }}"
                                                       href="#"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% block modal_delete %}
                                            <div class="modal fade" id="ModalImg{{ img.id }}" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content font-darkBlue">
                                                        <div class="modal-header  flex-row-reverse">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Suppression</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Etes-vous sur de vouloir supprimer définitivement cette illustration ?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="button btn btn-danger font-white"
                                                               href="{{ path('illustration_delete', { 'id': img.id }) }}">Supprimer</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% endfor %}
                            </div>
                            <div class="media-videos  d-flex flex-column align-items-center">
                                    {% for video in videos %}
                                        <div class="row-media">
                                            {{ video.name | raw }}
                                            {% if app.user %}
                                                <div class="div_button d-flex">
                                                    <a class="button btn btn-link font-white back-blue"
                                                       href="{{ path('trick_edit', { 'id': tricks.id }) }}"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="button btn btn-link font-white back-blue" data-toggle="modal" data-target="#ModalVideo{{ video.id }}"
                                                       href="#"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% block modal_delete_video %}
                                            <div class="modal fade" id="ModalVideo{{ video.id }}" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content font-darkBlue">
                                                        <div class="modal-header  flex-row-reverse">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Suppression</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Etes-vous sur de vouloir supprimer définitivement cette video ?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="button btn btn-danger font-white"
                                                               href="{{ path('illustration_delete', { 'id': video.id }) }}">Supprimer</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}