{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trick creation</h1>

    {{ form_start(form) }}
    <h3>Videos</h3>
    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
        {% for video in form.videos %}
            <li>{{ form_row(video.name) }}</li>
        {% endfor %}
    </ul>

    <ul class="illustrations" data-prototype="{{ form_widget(form.illustrations.vars.prototype)|e('html_attr') }}">
        {% for illustration in form.illustrations %}
            <li>{{ form_row(illustration.name) }}</li>
        {% endfor %}
    </ul>

    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('home_page') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/newInput.js') }}"></script>
{% endblock %}
