{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-addIllustration d-flex flex-column">
        <h4 class="text-center">Editer cette image</h4>
        <p class="text-center instruction container">Veuillez cliquer sur le mot illustration pour edit votre image pour la figure.</p>
        <div class="form-edit  d-flex flex-column justify-content-center">
            {{ form_start(form) }}
            <div class="form-group d-flex flex-column align-items-center justify-content-around">
                <div class="div-inputFile">
                    {{ form_label(form.name) }}
                </div>
                <div class="form-errors">
                    {{ form_errors(form.name) }}
                </div>
                {{ form_widget(form.name) }}
                <button class="btn btn-primary btn-primary-blue-reverse" type="submit">Editer l'image</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/inputFiles.js') }}"></script>
{% endblock %}

